body {
    padding-top: 60px;
    padding-bottom: 40px;
}

h1 {
    font-size: 23px;
    color: #87cefa;
}
h2 {
    font-size: 19px;
    color: #87cefa;
}

.navbar-static-top .container,.navbar-fixed-top .container,.navbar-fixed-bottom

.score-date {
    width: 96px;
    float: left;
}

.zf-green {
    color: #68b604;
}

.btn-success {
    background-color: #57a900;
    background-image: -moz-linear-gradient(top, #70d900, #57a900);
    background-image: -ms-linear-gradient(top, #70d900, #57a900);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
    background-image: -webkit-linear-gradient(top, #70d900, #57a900);
    background-image: -o-linear-gradient(top, #70d900, #57a900);
    background-image: linear-gradient(top, #70d900, #57a900);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}

.btn-failure {
    background-color: #FF8B74;
    background-image:  -moz-linear-gradient(top, #FF8B74, #ff0000);
    background-image: -ms-linear-gradient(top, #FF8B74, #ff0000);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FF8B74), to(#ff0000));
    background-image: -webkit-linear-gradient(top, #FF8B74, #ff0000);
    background-image: -o-linear-gradient(top, #FF8B74, #ff0000);
    background-image: linear-gradient(top, #FF8B74, #ff0000);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF8B74', endColorstr='#ff0000', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #57a900;
}

.btn-success:active, .btn-success.active {
  background-color: #57a900;
}

div.container a.brand {
    background: url("../images/zf2-logo.png") no-repeat scroll 0 10px transparent;
    margin-left: 0;
    padding: 8px 20px 12px 40px;
}
